@model IEnumerable<Freelancer.Models.Customers>
@{
    ViewData["Title"] = "Clients";
}
<!DOCTYPE html>
<html>

<head>
    <script src="https://kit.fontawesome.com/5d5d3d5e95.js" crossorigin="anonymous"></script>
    <link href="~/css/Clients.css" rel="stylesheet">
    <meta charset="utf-8">
    <title>Freelance</title>
</head>

<body>
    <div id="fenetre">
        <header>
            <img src="~/images/TP_Freelancer_logo.jpg" id="logo" width="10%" height="10%" />
            <nav>
                <button onclick="href='#'"><i class="fas fa-users"></i>Clients</button>
                <button onclick="href='#'"><i class="fas fa-coffee"></i>Missions</button>
                <button onclick="href='#'" class="df"><i class="fas fa-calculator"></i>Devis & Factures</button>
            </nav>
        </header>

        <div id="content">
            <h1>Gestion des clients</h1>
            <article id="client">Dernier client ajouté/modifié:</article>
            <button value="Create" class="ajout" onclick="location.href='@Url.Action("Create", "Customers")'">
                <i class="fas fa-plus"></i>Ajouter un nouveau
                client
            </button>
        </div>

        <h2 id="content">Clients enregistrés</h2>
        <div id="content">
            <table>
                <thead>
                    <tr>
                        <th class="id">
                            @Html.DisplayNameFor(Model => Model.Id)
                        </th>
                        <th class="name">
                            @Html.DisplayNameFor(model => model.Name)
                        </th>
                        <th class="email">
                            @Html.DisplayNameFor(model => model.Email)
                        </th>
                        <th class="actions">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Id)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Email)
                        </td>
                        <td><i class="fas fa-edit" onclick="window.location='Edit/'+@Html.DisplayFor(modelItem => item.Id)"></i><i class="fas fa-times"onclick="window.location='Delete/'+@Html.DisplayFor(modelItem => item.Id)"></i></td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>

        <footer>
            <div id="lien">

                <a href="#">Vacances</a>
                <i class="fas fa-circle"></i><a href="#">Jeux</a>
                <i class="fas fa-circle"></i><a href="#">Musique</a>
                <i class="fas fa-circle"></i><a href="#">Travail</a>
                <i class="fas fa-circle"></i><a href="#">Voyage</a>

            </div>
            <div id="copyright">
                <span><i class="fas fa-copyright"></i> Copyright 2021 . TORRENTI Sylvain</span>
            </div>
        </footer>
    </div>
</body>
</html>